
/* Produtos */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.product-card {
  position: relative;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

/* Botão carrinho */
.add-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #009688;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

/* Info */
.product-card h4 {
  margin: 10px 0 5px;
}

.product-card span {
  font-weight: bold;
  color: #009688;
}

/* Ações */
.product-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.product-actions button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy {
  background: #009688;
  color: #fff;
}

.view {
  background: #f1f1f1;
}





.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo h2 {
  color: #009688;
  font-size: 24px;
}

/* Menu */
.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #009688;
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* Ações */
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions input {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart {
  background: #009688;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .actions input {
    display: none;
  }
}



